.Form{
    label{
        font-weight: bold;
        margin: 0;
        color: var(--color-4);
    }
    input, textarea{
        border-color: var(--color-4);
        outline: none;
    }
    input:focus, textarea:focus{
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: inherit;
    }
    .sendBtn{
        width: 100%;
        border-color: var(--color-4);
        outline: none;
        background-color: transparent;
        font-weight: bold;
        padding: .4em 0;
        box-shadow: none;
    }
    .sendBtn:active{
        background-color: var(--color-4);
        color: whitesmoke;
    }
}