:root {
  --color-1: #f1faee;
  --color-2: #a8dadc;
  --color-3: #457b9d;
  --color-4: #1d3557;
  --color-danger: #e63946;

  --scrollbarBG: var(--color-4);
  --thumbBG: var(--color-3);

  --sm: 415px;
  --md: 769px;
  --lg: 993px;
  --xl: 1200px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 15px;
}
body {
  /*scrollbar-width: thin;*/
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
 /* border-radius: 6px;*/
  border: 3px solid var(--scrollbarBG);
  max-height: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  min-height: 80vh;
}
