$height: 50vh;

.wrapper{
    background-color: var(--color-1);
    overflow: hidden;
    height: $height;
}
.slider{
    width: 100%;
    .imageWrapper{
        width: 100%;
        height: $height;
        border: 1px red solid;
        position: relative;
        img{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            border: 1px yellow solid;
            //width: 100%;
            height: auto;
        }
        img[alt="autumn"]{
            top: -15em;
            left: -90em;
        }
        img[alt="nature"]{
            top: -15em;
            left: -13em;
        }
        .caption{
            position: absolute;
            top: 0;
            color: blue;
            z-index: 1;
        }
        .next, .prev{
            position: absolute;
            top: 50%;
            margin: -1em 0 0 0;
            z-index: 1;
            padding: 10px;
            border: none;
            outline: none;
            background-color: rgba($color: #000000, $alpha: .3);
            color: whitesmoke; 
        }
        .next:hover, .prev:hover{
            background-color: rgba($color: #000000, $alpha: .5);
        }
        .next{
            right: 0;
            margin-right: -.1em;
        }
        .prev{
            margin-left: -.1em;
        }
        .Navigator{
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            display: flex;
            justify-content: center;
            padding-left: 1em;
            padding-top: .5em;
            opacity: 1;
            .navItem{
                min-width: 50px;
                min-height: 20px;
                border: 1px solid whitesmoke;
                margin-right: 1em;
                cursor: pointer;
            }
            .active{
                background-color: whitesmoke;
            }
        }
    }
}