.mapH2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .googleMap {
    width: 100%;
    height: 60vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .pinIcon {
    font-size: 2rem;
    color: var(--color-2);
    position: absolute;
    top: -.9em;
    left: -.29em;
  }
  
  .pinText {
    font-size: 1.3em;
    color: var(--color-2);
    margin-left: .5em;
  }
  
  @media screen and (min-width: 799px) {
    .googleMap {
      height: 80vh;
    }
  
    .mapH2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pinIcon {
      font-size: 2vw;
    }
  }