@mixin sm {
    @media only screen and(min-width: 0px){
        @content;
    }
}
@mixin md {
    @media only screen and(min-width: 415px){
        @content;
    }
}
@mixin lg {
    @media only screen and(min-width: 769px){
        @content;
    }
}

.Navbar{
    background-color: var(--color-3);
    background: linear-gradient(132deg, rgba(50,91,117,1) 0%, rgba(29,53,87,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: .5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .navTopBar{
        grid-column-start: 1;
        grid-column-end: 3;
        //border: 1px yellow solid;
        padding: .7em;
        margin: 0 0 1em 0;
        color: whitesmoke;
        font-style: italic;
        font-size: 1em;
        transition: all ease-in-out 1s;

        //border: 1px yellow solid;
        .contacts{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .location{
                // margin-right: auto;
                display: inline-block;
                color: lightyellow;
             }
             .phoneNumber{
                 display: inline-block;
                 //margin-left: auto;
                 border: 1px solid var(--color-1);
                 padding: .1em 1em;
                 color: lightyellow;
                 span{
                     color: var(--color-danger);
                 }
             }
             
        }
        
    }
    .navbarBrand{
        border: 1px solid var(--color-1);
        font-weight: bold;
        font-size: 1.1em;
        color: var(--color-1);
        padding: .3rem 2rem;
        text-align: center;
        max-width: 200px;
        max-height: 200px;
    }
    
    .collapseNav{
        //transition: all ease-in-out 1s;
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        //border: 1px red solid;
        padding: 1em 0 0 0;
        @media only screen and(min-width:var(--sm)){
            //tablet
        }
    }
    .btnGroup{
        width: 100%;
        //height: 100%;
        text-align: right;
        //border: whitesmoke 1px solid;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .phoneIcon{
            color: var(--color-danger);
            font-size: 2em;
            margin-right: .1em;
        }
        .toggler{
            //border: 1px whitesmoke solid;
            border: none;
            background: none;
            outline: none;
            padding: 0 1em;
            align-self: stretch;
            touch-action: pan-x;
            span{
                color: whitesmoke;
                font-size: 2em;
                width: 35px;
                //border: 1px solid white;
                //transition: all 2s;
            }
        }
    }
    .navItem{
        border: 1px white solid;
        margin-bottom: .5em;
        padding: .5em 1em;
        //min-width: 7em;
        width: 100%;
        text-align: center;
    }
    a{
        color: whitesmoke;
    }
}
