.Navbar{
    background-color: var(--color-3);
    background: linear-gradient(132deg, rgba(50,91,117,1) 0%, rgba(29,53,87,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 100%;
    padding: .5em;
    position: fixed;
    top: 0;
    width: 100%;
    .navbarBrand{
        border: 1px solid var(--color-1);
        font-weight: bold;
        font-size: 1.1em;
        color: var(--color-1);
        padding: .3rem 2rem;
        text-align: center;
        max-width: 200px;
    }
    
    .collapse{
        //transition: all ease-in-out 1s;
        margin-top: 1em;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        //border: 1px red solid;
        padding: 1em 1em 0 1em;
        @media only screen and(min-width:var(--sm)){
            //tablet
        }
    }
    .btnGroup{
        width: 100%;
        height: 100%;
        text-align: right;
        //border: whitesmoke 1px solid;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .phoneIcon{
            color: var(--color-danger);
            font-size: 2em;
            margin-right: .1em;
        }
        .toggler{
            //border: 1px whitesmoke solid;
            border: none;
            background: none;
            outline: none;
            padding: 0 1em;
            align-self: stretch;
            touch-action: pan-x;
            span{
                color: whitesmoke;
                font-size: 2em;
                width: 35px;
                //border: 1px solid white;
                //transition: all 2s;
            }
        }
    }
    .navItem{
        border: 1px white solid;
        margin-bottom: .5em;
        padding: .5em 1em;
        min-width: 7em;
        width: 100%;
        text-align: center;
    }
    a{
        color: whitesmoke;
    }
}
